*{
    margin: 0;
    padding: 0;
}
.header-image{
    background: url('../img/banner.jpg') no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 20vw;
    position: relative;

}
/* navbar header image */
.header{
    position: relative;
}
.header-nav{
    position: absolute;
    z-index: 999;
    width: 100%;
}
.wrap {
    margin: 0 6em;
}
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

a.navbar-brand {
    font-family: 'Tangerine', cursive;
    color: #fff !important;
    font-weight: 600 !important;
    display: inline-block;
    font-size: 67px;
    position: relative;
    padding-top: 10px;
}
.navbar{
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    white-space: nowrap;
    
}
.logoh1{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    display: block;
}
a.navbar-brand img {
    position: absolute;
    top: 4px;
    right: -80px;
}
img {
    vertical-align: middle;
    border-style: none;
}
/**/
.navbar-nav .nav-item a.active{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    padding: 10px 17px;
    margin: 0 15px;
    font-weight: 500;
    background-color: #37adf5 ;

}
.navbar-nav .nav-item a.active:before{
    width: 2px;
    content: " ";
    background: #fff;
    height: 77px;
    left: -16px;
    top: -36px;
    position: absolute;


}
.navbar-nav .nav-item a.b{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    padding: 10px 17px;
    margin: 0 15px;
    font-weight: 500;

}
.navbar-nav .nav-item a.b:before{
    width: 2px;
    content: " ";
    background: #fff;
    height: 0px;
    left: -16px;
    top: -36px;
    position: absolute;
    transition: 0.5s all;

}
.navbar-nav .nav-item:hover a.b:before{

    height: 77px;
    transition: 0.5s all;
  
}
.navbar-nav .nav-item a:hover{
    background-color: #37adf5 ;
}
.navbar-nav .nav-item a.c{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    padding: 10px 17px;
    margin: 0 15px;
    font-weight: 500;

}
.navbar-nav .nav-item a.c:before{
    width: 2px;
    content: " ";
    background: #fff;
    height: 0px;
    left: -16px;
    top: -36px;
    position: absolute;
    transition: 0.5s all;

}
.navbar-nav .nav-item:hover a.c:before{

    height: 77px;
    transition: 0.5s all;
  
}
.navbar-nav .nav-item a.d{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    padding: 10px 17px;
    margin: 0 15px;
    font-weight: 500;

}
.navbar-nav .nav-item a.d:before{
    width: 2px;
    content: " ";
    background: #fff;
    height: 0px;
    left: -16px;
    top: -36px;
    position: absolute;
    transition: 0.5s all;

}
.navbar-nav .nav-item:hover a.d:before{

    height: 77px;
    transition: 0.5s all;
  
}
.navbar-nav .nav-item  .dropdown-toggle:before{
    width: 2px;
    content: " ";
    background: #fff;
    height: 0px;
    left: -16px;
    top: -36px;
    position: absolute;
    transition: 0.5s all;
}
.navbar-nav .nav-item:hover .dropdown-toggle:before{
    height: 77px;
    transition: 0.5s all;
}
.dropdown-divider{
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
/*navbar social meida*/
.social_media .social_media_lio{
    margin-left: -100px;
}
.social_media ul{
    margin-top: 30px;
}
.social_media ul li {
    display: inline-block;
}

.social_media ul li {
    list-style: none;
    margin-bottom: 1em;
}
.social_media ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: 38px;
    text-align: center;
    height: 38px;
    border-radius: 50%;
    line-height: 2.6;
    border: 2px solid #fff;
    display: inline-block;
}
.social_media ul li a:hover {
    border-radius: 0px;
    border-color: #37adf5;
    background-color: #37adf5;
}
.breadcrumb li a.active{
    color: #f53759;
}
.breadcrumb li a:hover{
    text-decoration: none;
}

.breadcrumb li a.a0{
    letter-spacing: 1px;
    color:#6c757d;
    margin-left: 5px;
}
.gallery{
    margin-top: 100px;
}
.gallery h3{
    text-align: center !important;
    color: #343a40 !important;
    font-weight: 900;
    margin-bottom: 3rem !important;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    font-size: 36px;
}
.gallery h3:before{
    content: " ";
    background: #37adf5;
    width: 8%;
    height: 2px;
    position: absolute;
    top: -20px;
    left: 46%;
}
.grid_1_divs1 a{
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.img-fluid{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.grid_1_divs1 a:hover .grid_subdiv1_wrapper{ 
    bottom: 0;
}
.grid_subdiv1_wrapper{
    background: rgba(40, 41, 41, 0.87);
    position: absolute;
    width: 100%;
    height: 1%;
    bottom: -100%;
    left: 0;
    padding: 2em 0 2em 0;
    transition: .5s all;
    text-align: center;
}
.grid_subdiv1_wrapper h4{
    font-size: 20px;
    text-align: center;
    color: #f53759;
    letter-spacing: 4px;
    line-height: 0;
}
/**/
.team-grid-gallery {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
}
.team-img-gallery {
    position: relative;
}
.team-img-gallery:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.team-img-gallery img {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.team-info-gallery {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}
.team-grid-gallery:hover .team-img-gallery:after {
    background: rgba(40, 41, 41, 0.87);
    width: 100%;
    margin-left: 0px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
} 
.team-info-gallery h4{
    color: #EB2941;
   text-align: center;
}
.team-grid-gallery:hover .team-info-gallery {
   
    transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -10%, 0);
}
.team-grid-gallery:hover .team-info-gallery {
    opacity: 1;
    transition: all 0.4s;
}
/**/
.team-grid-gallery_0{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
}
.team-img-gallery_0 {
    position: relative;
}
.team-img-gallery_0:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.team-img-gallery_0 img {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.team-info-gallery_0 {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}
.team-grid-gallery_0:hover .team-img-gallery_0:after {
    background: rgba(40, 41, 41, 0.87);
    width: 100%;
    margin-left: 0px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
} 
.team-info-gallery_0 h4{
    color: #EB2941;
   text-align: center;
}
.team-grid-gallery_0:hover .team-info-gallery_0 {
   
    transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -10%, 0);
}
.team-grid-gallery_0:hover .team-info-gallery_0 {
    opacity: 1;
    transition: all 0.4s;
}
/**/
.team-grid-gallery_1{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
}
.team-img-gallery_1 {
    position: relative;
}
.team-img-gallery_1:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.team-img-gallery_1 img {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.team-info-gallery_1 {
    left: auto;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    opacity: 0;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    transition: opacity 0.3s;
}
.team-grid-gallery_1:hover .team-img-gallery_1:after {
    background: rgba(40, 41, 41, 0.87);
    width: 100%;
    margin-left: 0px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
} 
.team-info-gallery_1 h4{
    color: #EB2941;
    text-align: center;
}
.team-grid-gallery_1:hover .team-info-gallery_1 {
   
    transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -10%, 0);
}
.team-grid-gallery_1:hover .team-info-gallery_1{
    opacity: 1;
    transition: all 0.4s;
}
/**/
.team_grid_flex{
    display: flex;
    margin-top: 115px;
}
.j7{
    margin-left: 10px;
}
.j9{
    margin-left: 20px;
    
}

/**/

.footer{
    position: relative;
}

.footer .footer-map iframe{
    width: 100%;
    height: 500px;
    display: block;
    border: none;
}
.footer-content{
    background: url('../img/bg2.jpg') no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.foot1{
    border-bottom: 2px solid rgba(255, 255, 255, 0.3) !important;
   
}
.footernav li{
    display: inline-flex;
}
.footernav li a.active{
    color: #37adf5;

}
.footernav{
    margin-top: 240px;
}
.footernav li a{
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
}
.footernav li a:hover{
    color: #37adf5;
    text-decoration: none;
}
.footernav .li00{
    margin-left: 150px;
}
.footernav .li01{
    margin-left: 50px;
}
.footernav .li02{
    margin-left: 50px;
}
.footernav .li03{
    margin-left: 50px;
}
.footernav .li04{
    margin-left: 50px;
}
.footernav .li05{
    margin-left: 50px;
}
/**/
.foot2{
    margin-top: 50px;
}
.footh1{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    display: block;
}
a.navbar-brand {
    font-family: 'Tangerine', cursive;
    color: #fff !important;
    font-weight: 600 !important;
    display: inline-block;
    font-size: 67px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    white-space: nowrap;
}
a.navbar-brand img {
    position: absolute;
    top: 4px;
    right: -80px;
}
.footsocialicon li{
    display: inline-flex;
    list-style: none;
    margin-bottom: 1em;
}
.footsocialicon li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: 38px;
    text-align: center;
    height: 38px;
    border-radius: 50%;
    line-height: 2.6;
    border: 2px solid #fff;
   
}
.footsocialicon .lio1{
    margin-left: 15px;
}
.footsocialicon .lio2{
    margin-left: 15px;
}
.footsocialicon li a:hover{
    border-radius: 0px;
    border: 2px solid red;
    transition: 0.5s all;

}
.f2{
    text-align: right !important;
    margin-top: 1.5rem !important;
    padding-right: 15px;
    padding-left: 15px;
}
/**/
.footcopy{
    margin-top: 40px;
}
.footcopy p{
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 1.9;
    font-family: 'Roboto Condensed', sans-serif;
}
.footcopy p a:hover{
    color: #fff;
    text-decoration: none;
}
.foot-form{
    position: absolute;
    top: 1400px;
    left: 240px;
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    padding: 4em 2em;
    background-color: #fff !important;
    width: 50%;
}
.getintouch{
    font-size: 36px;
    position: relative;
    color: #343a40 !important;
    font-weight: 700 !important;
    text-align: center !important;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}
.getintouch::before{
    content: " ";
    background: #37adf5;
    width: 10%;
    height: 2px;
    position: absolute;
    top: -20px;
    left: 46%;
}
.form-list li{
    padding-left: 0;
    list-style: none;
}
.formp{
    color: #343a40 !important;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.9;
  
} 
.form-list li .formp i{
    color: #f53759;
    font-weight: 900;
    line-height: 1;
    text-rendering: auto;
    margin-right: 1rem !important;
}
.form-list li .formp  a{
    color: #343a40 !important;
}
.form-group{
    margin-bottom: 1rem;

}
.form-group input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    letter-spacing: 1px;
}
.form-control{
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 12px 10px;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.11);
}
.formg1{
    margin-top: 50px;
}
button.btn.btn-primary{
    letter-spacing: 1px;
    padding: 9px 20px;
    margin-top: 1em;
    background: #f53759;
    border: none;
}
button.btn.btn-primary:hover{
    background-color: #007bff;
}
@media (max-width: 991px){
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0px;
    }
    }
    @media (max-width: 991px)
    {
    div#collapsibleNavbar {
        background: #000;
        padding: 1em 0;
        text-align: center;
    }
    }
    @media (max-width: 991px){
        
            div.social_media{
                margin-left: 100px;
            }
        
    }
    @media (max-width: 991px){
        .foot-form{
            position: absolute;
            top: 2500px;
            left: 240px;
            box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
            padding: 4em 2em;
            background-color: #fff !important;
            width: 50%;
        }

    }
    @media (max-width: 991px){
        .footer-content{
            background: url('../img/bg2.jpg') no-repeat center fixed;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        .footsocialicon{
            margin-top: -100px;
        }
    }
    @media (max-width: 768px){
        .foot-form{
            position: absolute;
            top: 2350px;
            left: 100px;
            box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
            padding: 4em 2em;
            background-color: #fff !important;
            width: 50%;
        }
        .footernav{
            margin-top: 350px;
        }
        .footer-content{
            background: url('../img/bg2.jpg') no-repeat center fixed;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        .footsocialicon{
            margin-top: -100px;
        }
    }