body{
    margin: 0px;
    padding-top: 44px;
    padding-bottom: 73px;
    font-family: 'Roboto', sans-serif;
    background-image: url('body_bg.png');
 
}
a{
    text-decoration: none;
}
.top-about-image{
    margin: 0;
    padding: 0;
    background: url('2.jpg')no-repeat center;
    width: 82.9%;
    height: 200px;
    margin-left: 100px;
   
}
.top-about-image h1{
  
   
    text-decoration: none;
    background: #B1599B;
    width: 350px;   
    border-right: 5px solid #030303;
    margin-top: 60px;
    vertical-align: middle;
    padding-top: 50px;
   
  
  
   
}

.ab-to{
  padding-top: 40px;
  padding-bottom: 0px;
 
}

.header-bottom{
    background: url('pattern.png');
    width: 80%;
    height: 60px;
    padding: 0 20px;
    margin-left: 100px;
    display: flex;
}
.headul{
    margin: 0;
    padding: 0;
}
.headul li{
    display: inline-flex;
    
    }
    .headul li.active {
        background: #181818;
        color: #B1599B;
        border-top: 5px solid #B1599B;
        text-decoration: none;

    }
    
    .headul li.active a {
   
        color: #B1599B;
    

    }
    .headul li a{
        font-size: 1em;
        text-transform: uppercase;
        padding: 20px 25px;
        display: block;
        text-align: center;
        transition: all 0.5s ease-in-out;
        text-decoration: none;
        color: white;
    }
    .headul li a:hover{
        background: #181818;
        color: #B1599B;
        border-top: 5px solid #B1599B;
        text-decoration: none;
    }
    .social-media{
    
    margin-top: 0px;
    }
    .socialul li{
        display: inline-flex;
       
    }
    .socialul .lisoc1 a i{
        height: 40px;
    width: 40px;
    display: block;
    background: url('img-sprite.png') no-repeat -8px -8px;
    margin-left: 290px;
    }
    .socialul .lisoc2 a i{
        height: 40px;
    width: 40px;
    display: block;
    background: url('img-sprite.png') no-repeat -106px -8px;
    }
    .socialul .lisoc3 a i{
        height: 40px;
    width: 40px;
    display: block;
    background: url('img-sprite.png') no-repeat -202px -8px;
    }
    .socialul .lisoc4 a i{
        height: 40px;
    width: 40px;
    display: block;
    background: url('img-sprite.png') no-repeat -298px -8px;
    }
    /**/
    .container{
        margin: 20px 0;
       background: #1F1F1F;
        padding: 20px 10px;
        width: 82%;
        margin-left: 100px;
       
    }
    .abouttxt{
        font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    }
    .divsion{
        display: flex;
    }
    .Team-divs{
        display: flex;
    }
    /*footer */
    /**/
.footer{
    margin: 20px 0;
   background: #1F1F1F;
    padding: 20px 10px;
    width: 82%;
    margin-left: 100px;
    display: flex;
}
.footerh4{
margin: 0 0 0.7em;
font-size: 2.5em;
color: #A8A8A8;
font-weight: 700;
font-family: 'Oswald', sans-serif;
}
.footerp1{
margin: 0 0 0.5em;
font-size: 1em;
color: #787878;
line-height: 1.6em;
max-width: 400px;
}
.footerp1 a{
color: #B1599B;
text-decoration: none;
}
.footerp2{
margin: 0 0 0.5em;
font-size: 1em;
color: #787878;
line-height: 1.6em;
max-width: 400px;
}
.footerp2 a{
color: #B1599B;
text-decoration: none;
}
.social-in {
margin: 0;
padding: 0;
}
.social-in li {
list-style: none;
padding: 0.5em 0;
font-size: 1em;
color: #787878;
}
.social-in .socialli0 i {
height: 18px;
width: 21px;
background: url('img-sprite.png') -7px -58px;
display: inline-block;
margin-right: 5px;
vertical-align: middle;
}
.social-in .socialli1 i {
height: 18px;
width: 21px;
background: url('img-sprite.png') -29px -58px;
display: inline-block;
margin-right: 5px;
vertical-align: middle;
}
.social-in .socialli2 i {
height: 18px;
width: 21px;
background: url('img-sprite.png') -55px -58px;
display: inline-block;
margin-right: 5px;
vertical-align: middle;
}
.social-in li a {
text-decoration: none;
font-size: 1em;
color: #787878;
}
.footh41{
margin: 0 0 0.7em;
font-size: 2.5em;
color: #A8A8A8;
font-weight: 700;
font-family: 'Oswald', sans-serif;
line-height: 1.1;
}


.lastfoot{
margin: 0 0 0.7em;
font-size: 2.5em;
color: #A8A8A8;
font-weight: 700;
font-family: 'Oswald', sans-serif;
margin-left: 60px;
}
.h2{
display: flex;
}
.footuldiv1,.footuldiv2,.footuldiv3{
margin: 0;
padding: 0;

}
.footuldiv1 li{
list-style-type: none;

}
.footuldiv2 li{
list-style-type: none;

}
.footuldiv3 li{
list-style-type: none;

}
.footuldiv1 li img{
border: 1px solid #fff;
}
.footuldiv2 li img{
border: 1px solid #fff;
}
.footuldiv3 li img{
border: 1px solid #fff;
}
.social{

margin: 0;
padding: 0;

}
.social li{
list-style-type: none;
display: inline-flex;

}
.social li a{

    color: rgb(27, 36, 47);
    text-decoration: none;

}


.social .socialli0 a i{
height: 40px;
width: 40px;
display: block;
background: url('img-sprite.png') -8px -8px no-repeat;
margin-left: 60px;
}

.social .socialli1 a i{
height: 40px;
width: 40px;
display: block;
background: url('img-sprite.png') -106px -8px no-repeat;
}
.social .socialli2 a i{
height: 40px;
width: 40px;
display: block;
background: url('img-sprite.png') -202px -8px no-repeat;
}
.social .socialli3 a i{
height: 40px;
width: 40px;
display: block;
background: url('img-sprite.png') -298px -8px no-repeat;
}
.social .socialli0 a:hover{
background-color: blue;
}
.copy{
text-align: center;
padding: 20px 0px;
background: url('pattern.png');
border-bottom: 5px solid rgb(177, 89, 155);
width: 83.5%;
margin-left: 100px;
margin-top: -20px;
}
.copytxt1{
    color: #fff;
}
.copytxt1 a{
    color: #B1599B;
    text-decoration: none;
}
/**/
.our-profile{
    margin: 0 0 1em;
    font-size: 2em;
    color: #A8A8A8;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Roboto', sans-serif;

}
.kp1d{
    text-decoration: none;
    color: #B1599B;
    max-width:350px;
    float: left;
    margin-left:15px;
    font-family: 'Roboto', sans-serif;

}
.pj{
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    
}
.division-left{
    margin-left: 100px;
}
.opp1{
    display: inline-flex;
}
.opp1_div span{
    font-size: 2.5em;
    color: #fff;
    background: #B1599B;  
    text-align: center;
    font-weight: 600;
    padding:10px;
  
}
.hteam{
    margin: 0 0.5em 0.8em;
    font-size: 2em;
    color: #A8A8A8;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 50px;

}
.divs2 ,.divs3,.divs4{
    margin-left: 25px;
}
